.inner_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 6rem;
}

.experience_titles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.text_animation_exp {
  font-size: 30px;
  color: var(--mediumgray);
  font-family: var(--font-text);
  letter-spacing: 4px;
}

.exp_list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: rgba(141, 141, 141, 0.318);
  padding: 1.2rem 1.2rem;
  border-radius: 14px;
}

.exp_items {
  color: white;
  font-size: 20px;
  font-family: var(--font-pro);
  font-weight: 500;
  list-style: none;
  cursor: pointer;
  padding: 0.5rem 2.5rem;
  transition: 0.3s ease-in-out;
  background-color: transparent;
  border: none;
  display: inline-block;
}

.exp_items:hover {
  background-color: rgba(32, 32, 32, 0.584);
  border-radius: 10px;

  &:before {
    content: "";
    height: 14px;
    width: 14px;
    position: absolute;
    border: 4px solid var(--dark-purple);
    border-radius: 100%;
    left: 7.4rem;
    // margin-bottom: 5px;
  }
}

.exp_items::before {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  border: 4px solid var(--purple);
  border-radius: 50%;
  left: 7.4rem;
  //   margin-top: 5px;
  transition: 0.3s ease-in-out;
}

.inner_container_second {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  position: relative;
}

.experience_details {
  background: url("../assets/BG5.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 50px 50px;
  flex-direction: column;
  list-style: none;
  border-radius: 14px;
  position: absolute;
  //   top: -200%;
}

.exp_title {
  font-size: 26px;
  font-family: var(--font-name);
  color: white;
  margin-bottom: 10px;
  //   align-self: flex-start;
  padding: 0px;
}

.exp_position {
  font-size: 20px;
  font-family: var(--font-pro);
  padding: 0px;
  margin-bottom: 10px;
  text-transform: none;
}

.exp_date {
  font-size: 20px;
  font-family: var(--font-pro);
  padding: 0px;
  opacity: 0.5;
  margin-bottom: 20px;
  text-transform: none;
}

.detail_list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.detail_items {
  color: white;
  margin-bottom: 12px;
  font-size: 16px;
  font-family: var(--font-pro);
  font-weight: 600;
  letter-spacing: -1px;
}
