.navbar {
  position: fixed;
  flex-direction: row;
  width: 100%;
  z-index: 1000;
  justify-content: space-between;
  padding: 1.5rem 1rem;

  .navBar_one,
  .navBar_two {
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
  }
}

.navbar_one {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar_two {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
